.env

.next/
.husky/
.cache/

.DS_Store

dist/
build/

node_modules/

.idea/
.vscode/

.eslintcache
apps/.docker/virtuoso/data/.dba_pwd_set
apps/.docker/virtuoso/data/clean-logs.sh
apps/.docker/virtuoso/data/virtuoso-temp.db
apps/.docker/virtuoso/data/virtuoso.db
apps/.docker/virtuoso/data/virtuoso.ini
apps/.docker/virtuoso/data/virtuoso.lck
apps/.docker/virtuoso/data/virtuoso.log
apps/.docker/virtuoso/data/virtuoso.pxa
apps/.docker/virtuoso/data/virtuoso.trx
